<h2 class="text-center mt-2"><strong>E-Commerce Product Review Form</strong></h2>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <form #eform="ngForm" (ngSubmit)="onsubmit()">
            <div class="form-group">
              <label for="CustomerName">Customer Name</label>
              <input type="text" class="form-control" name="CustomerName" required ngModel #CustomerName="ngModel">
              <strong class="text-danger" *ngIf="CustomerName.touched&&CustomerName.hasError('required')">
                Customer Name is required!.
              </strong>
            </div>

            <div class="form-group">
              <label for=" ProductName">C Product Name</label>
              <input type="text" class="form-control" name="ProductName" required ngModel #ProductName="ngModel">
              <strong class="text-danger" *ngIf="ProductName.touched&&ProductName.hasError('required')">
                Product Name is required!.
              </strong>
            </div>

            <div class="form-group mt-3">
              <label class="form-label d-block">Rating*</label>

              <div class="form-check form-check-inline">
                <input id="rating1" class="form-check-input" type="radio" name="rating" value="1" ngModel
                  #rating="ngModel" required>
                <label for="rating1" class="form-check-label">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input id="rating2" class="form-check-input" type="radio" name="rating" value="2" ngModel>
                <label for="rating2" class="form-check-label">2</label>
              </div>

              <div class="form-check form-check-inline">
                <input id="rating3" class="form-check-input" type="radio" name="rating" value="3" ngModel>
                <label for="rating3" class="form-check-label">3</label>
              </div>

              <div class="form-check form-check-inline">
                <input id="rating4" class="form-check-input" type="radio" name="rating" value="4" ngModel>
                <label for="rating4" class="form-check-label">4</label>
              </div>

              <div class="form-check form-check-inline">
                <input id="rating5" class="form-check-input" type="radio" name="rating" value="5" ngModel>
                <label for="rating5" class="form-check-label">5</label>
              </div>

              <strong class="text-danger" *ngIf="rating.touched&& rating.hasError('required')">
                Rating is required!.
              </strong>
            </div>

             <div class="form-group">
              <label for="Reviewtitle">Review Title</label>
              <input type="text" class="form-control" name="Reviewtitle" minlength="5" ngModel required
                #Reviewtitle="ngModel">
              <strong class="text-danger" *ngIf="Reviewtitle.touched&&Reviewtitle.hasError('required')">
                Review Title is required!.
              </strong>
              <strong class="text-danger" *ngIf=" Reviewtitle.dirty&&Reviewtitle.errors?.['minlength']">
                Review Title must be at least 5 characters.
              </strong>
            </div>

             <div class="form-group">
              <label for="ReviewDescription">Review Description</label>
              <input type="text" class="form-control" name="ReviewDescription" minlength="30" ngModel required
                #ReviewDescription="ngModel">
              <strong class="text-danger" *ngIf="ReviewDescription.touched&&ReviewDescription.hasError('required')">
                Review Description is required!.
              </strong>
              <strong class="text-danger" *ngIf=" ReviewDescription.dirty&&ReviewDescription.errors?.['minlength']">
                           Review Title must be at least 30 characters.
              </strong>
            </div>
            <div>
              <button mat-raised-button color="primary" class="w-100">Submit Review</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>